<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>WebBMS</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">
    <link rel="stylesheet" href="cover.css">
</head>

<style>
    .songs {
        text-decoration: none;
        color: inherit;
    }

    .songs:hover {
        color: rgb(255, 161, 161);
    }

    .list-grid {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, 320px);
        gap: 25px;
    }
    .list-grid-item {
        display: block;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        text-align: center;
        min-height: 378px;
    }
    .list-grid-item a {
        text-decoration: none;
        color: #333;
    }
    .list-grid-item a .list-stagefile {
        border-radius: 10px 10px 0 0;
        width: 320px;
    }
    .list-grid-item .list-grid-auto {
        background-color: rgb(var(--bs-dark-rgb));
        color: rgb(var(--bs-white-rgb));
        margin: 5px;
    }

</style>

<body class="d-flex h-100 text-center text-white bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <a href="/" style="text-decoration: none; color: inherit;">
                    <h3 class="float-md-start mb-0">WebBMS</h3>
                </a>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="/license">License</a>
                    <a class="nav-link" href="https://github.com/rokr0k/webbms" target="_blank"
                        rel="noopener">Github</a>
                </nav>
            </div>
        </header>

        <main class="px-3">
            <h1>Song List</h1>
            <p class="lead">
            <div class="list-grid">
                <% for(i of Object.keys(bms)) { %>
                    <div class="list-grid-item">
                        <a href="/play?key=<%= i %>">
                            <% if(bms[i].stagefile) { %>
                                <img src="<%= bms[i].stagefile %>" class="list-stagefile">
                            <% } %>
                            <div style="font-size: 15px;"><%= bms[i].genre %></div>
                            <div style="font-size: 20px;"><%= bms[i].artist %></div>
                            <div style="font-size: 25px;">[<%= bms[i].playlevel %>] <%= bms[i].title %></div>
                            <% if(bms[i].subtitle) { %>
                                <div style="font-size: 15px;"><%= bms[i].subtitle %></div>
                            <% } %>
                        </a>
                        <a href="/play?key=<%= i %>&auto=true" class="btn list-grid-auto">Auto</a>
                    </div>
                <% } %>
            </div>
            </p>
        </main>

        <footer class="mt-auto text-white-50">
            <p>Made with 🔥 by <a href="https://github.com/rokr0k" class="text-white" target="_blank"
                    rel="noopener">Rokr0k</a>, <a href="https://github.com/d3vle0" class="text-white" target="_blank"
                    rel="noopener">D3vle0</a>.</p>
        </footer>
    </div>



</body>

</html>