<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>WebBMS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/list.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
</head>

<body>
    <a href="/list" class="search-reset">
        <h1>Song List</h1>
    </a>
    <div class="search-container">
        <form action="/list" method="get">
            <input type="search" class="search" name="query" placeholder="Input Song Name" spellcheck="false"
                autocomplete="off">
        </form>
    </div>
    <p class="lead">
    <p class="length">
        <% if (!length) { %>
            Not found.
            <% } else if (length==1){ %>
                <%= length %> song found.
                    <% } else { %>
                        <%= length %> songs found.
                            <% } %>
    </p>
    <% for(i of Object.keys(bms)) { %>
        <div class="list-grid-item">
            <a href="/play?key=<%= i %>">
                <% if(bms[i].stagefile) { %>
                    <img src="<%= bms[i].stagefile %>" class="list-stagefile">
                    <% } %>
                        <div class="song-info">
                            <p style="font-size: 15px;">
                                Genre: <%= bms[i].genre %>
                            </p>
                            <p style="font-size: 20px">
                                <%= bms[i].artist %> - [<%= bms[i].playlevel %>] <%= bms[i].title %>
                            </p>
                            <% if(bms[i].subtitle) { %>
                                <p style="font-size: 15px">
                                    <%= bms[i].subtitle %>
                                </p>
                                <% } %>
                        </div>
            </a>
            <a href="/play?key=<%= i %>&auto=true" class="list-grid-auto"><button type="button"
                    class="btn btn-dark">Auto</button></a>
        </div>
        <br><br>
        <% } %>
            </p>

            <footer>&copy; 2022 Rokr0k, All rights reserved.<br>Made with 🔥 by <a href="https://github.com/rokr0k"
                    target="_blank" rel="noopener">Rokr0k</a>, <a href="https://github.com/D3vle0" target="_blank"
                    rel="noopener">D3vle0</a></footer>
</body>

<script>
    document.onkeydown = function (evt) {
        evt = evt || window.event;
        if (evt.keyCode == 27) {
            window.location.href = "/";
        }
    };
</script>

</html>