<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>WebBMS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=M+PLUS+Rounded+1c&display=swap');

    body {
        background: linear-gradient(rgba(0, 0, 0, 0.3),
                rgba(0, 0, 0, 0.3)), url(/bg2.jpeg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .songs {
        text-decoration: none;
        color: inherit;
    }

    .songs:hover {
        color: rgb(255, 161, 161);
    }

    .list-grid-item {
        background: rgba(5, 5, 5, 0.363);
        backdrop-filter: blur(10px);
        border-radius: 8px;
        min-height: 200px;
        width: 700px;
        margin: 0 auto;
        font-family: 'IBM Plex Sans KR', 'M PLUS Rounded 1c', sans-serif;
    }

    .list-grid-item a {
        text-decoration: none;
        color: rgb(228, 228, 228);
    }

    .list-stagefile {
        width: 200px;
        height: 200px;
        border-radius: 8px 0 0 8px;
        float: left;
    }

    .list-grid-item .list-grid-auto {
        color: rgb(228, 228, 228);
        margin: 50px;
    }

    button {
        font-family: 'IBM Plex Sans KR', sans-serif;
    }

    footer,
    h1 {
        text-align: center;
        color: white;
        font-family: 'IBM Plex Sans KR', 'M PLUS Rounded 1c', sans-serif;
        text-decoration: none;
        padding-top: 50px;
    }

    footer a,
    .search-reset {
        color: inherit;
    }

    .search {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 700px;
        font-size: 20px;
        font-family: 'IBM Plex Sans KR', 'M PLUS Rounded 1c', sans-serif;
        background: rgba(5, 5, 5, 0.363);
        backdrop-filter: blur(10px);
        border-radius: 8px;
        border: none;
        color: #fff;
        -webkit-tap-highlight-color: transparent;
        outline: none;
    }

    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button,
    input::-webkit-search-results-button,
    input::-webkit-search-results-decoration {
        display: none;
    }
</style>

<body>
    <a href="/list" class="search-reset">
        <h1>Song List</h1>
    </a>
    <div class="search-container">
        <form action="/list" method="get">
            <input type="search" class="search" name="q" placeholder="Input Song Name" spellcheck="false"
                autocomplete="off">
        </form>
    </div>
    <p class="lead">
        <% for(i of Object.keys(bms)) { %>
            <div class="list-grid-item">
                <a href="/play?key=<%= i %>">
                    <% if(bms[i].stagefile) { %>
                        <img src="<%= bms[i].stagefile %>" class="list-stagefile">
                        <% } %>
                            <div class="song-info">
                                <p style="font-size: 15px;">
                                    Genre: <%= bms[i].genre %>
                                </p>
                                <p style="font-size: 20px">
                                    <%= bms[i].artist %> - [<%= bms[i].playlevel %>] <%= bms[i].title %>
                                </p>
                                <% if(bms[i].subtitle) { %>
                                    <p style="font-size: 15px">
                                        <%= bms[i].subtitle %>
                                    </p>
                                    <% } %>
                            </div>
                </a>
                <a href="/play?key=<%= i %>&auto=true" class="list-grid-auto"><button type="button"
                        class="btn btn-dark">Auto</button></a>
            </div>
            <br><br>
            <% } %>
    </p>

    <footer>
        <p>Made with 🔥 by <a href="https://github.com/rokr0k" target="_blank" rel="noopener">Rokr0k</a>, <a
                href="https://github.com/d3vle0" target="_blank" rel="noopener">D3vle0</a>.</p>
    </footer>
</body>

</html>